.FormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
}

.FormInput {
  padding: 5px;
}
