.delete {
  padding: 10px 20px;
  border-radius: 20px;
}

.ListStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.NameSpan {
  margin-right: 20px;
}
